
.header-content{
    text-align: center;
    height: 200%;
    width: 100%;

}

.text-content{

    width: 80%;
    height: 80%;
    padding: 5%;
    margin :auto;
}
.text-content *{
    margin-top: 2.5%;
}

.text-content h2{
    color: #0d6efd;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}


.image-content {

    width:  50vw;
    height: 50vh;
    margin: auto;
}

.image-content img{
    border-radius: 100px;
}
